h1{
    text-align: center;
    background-color: hsl(194, 25%, 83%);
}
body{
    background-color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one{
    background-color: red;
    font-size: 30px;
    border-radius: 50%;
    color:white;   
}
.Two{
    background-color: yellow;
    font-size: 30px;
    border-radius: 50px;
    color:white;
}
.Three{
    background-color: green;
    font-size: 30px;
    border-radius: 50px;
    color:white;
}