*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    cursor: pointer;
    
}
.toolbar{
    height:25px;
    width:auto;
    /* background-color: rgba(245, 245, 245, 1); */
    color:rgba(102,102,102,1);
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #ccc;
}

.details{
    /* font-size: 10px; */
    height:20px;
    width:20px;
    background-color: #ccc;

}
.navbar{
    height:80px;
    background-color: #fff;
    
    /* color:rgba(243, 249, 251, 1); */
    font-size: 45px;
    display: flex;
     /* justify-content:center; */
    border-radius: 30px;
}
input{
    width:350px;
    height:35px;
    margin-top: 20px;
    background-color:#F3F9FB;
    border-radius: 9px;
    color:black;
    border:none;
   

}

.mart{
    
    margin-right:15%; 
    color:#05ABF3;
    font-weight: bolder;
    
    background-color:#fff;
    
}
#menu{
    background-color: #fff;
    margin-left:5%;
    margin-right:5%; 
    
    padding-top:15px;
    color:#05ABF3;
}

.login{
    font-size: 16px;
    color:rgba(34, 34, 34, 1);;
    padding-top: 20px;
    background-color: #fff;
    margin-left:10%;
    margin-right:5%;  
    display: flex;
    justify-content: center; 
} 
.cart{
    font-size: 16px;
    color:rgba(34, 34, 34, 1);
    padding-top: 20px;
    background-color:#fff;
    display: flex;
    justify-content: center;
}
.box{
    display:flex;
    justify-content: space-around;
    margin-top: 15px;
}
.footercontainer{
display:flex;
justify-content: space-evenly;
  
    height:300px;
    color:white;
    
}
.footeritems{
flex:1; 
    background-color: #05ABF3;
}
h2,h4{
    font-weight: lighter;
}
button{
    border-radius: 15px;
    height:30px;
    border:none;
    padding:5px;
}
.center{
    height:14px; 
      display: flex;
    justify-content: center;
    align-items: center; 
}
.inputicon{
    background-image: url(./Search.png);
    background-repeat: no-repeat;
    background-position:left center;
    padding-left: 25px;;
}
.icons{
    height:25px;
}

.Grocery{
    color:white;
    background-color:#05ABF3;
    
    height:35px;
    border-radius: 18px;
}
.Fruits{
    height:35px;
    border-radius: 15px;
    text-align: center;
    background-color:#F3F9FB;
    color:rgba(34, 34, 34, 1);
}
.Home-Kitchen{
    height:35px;
    border-radius: 15px;
    text-align: center;
    background-color: #F3F9FB;
}  
.Fashion{
    height:35px;
    border-radius: 15px;
    text-align: center; 
    background-color: #F3F9FB;
}
.Electronics{
    height:35px;
    border-radius: 15px;
    text-align: center;
    background-color:#F3F9FB;
}
.Sports{
    height:35px;
    border-radius: 15px; 
    text-align: center;
    background-color:#F3F9FB;
}
.Luggage{
    height:35px; 
    border-radius: 15px; 
    text-align: center;
    background-color:#F3F9FB;
}
.Toys{
    height:35px; 
    border-radius: 15px; 
    text-align: center;
    background-color: #F3F9FB;
}
.box2{
    margin-top: 30px;
    width:auto;
    height: auto;
    background-color:rgba(33,40,68,1);
    border-radius: 30px;
}
.image{
    
     height:250px;
    margin-left: 65%;
    background-color:rgba(33,40,68,1);
     border-radius: 30px;
}

.text{
    position: absolute;
    top: 200px;
    left:100px; 
     background-color: rgba(33,40,68,1); 
    color: rgba(255,255,255,1); 
}
p{
    font-size: 20px;
    margin: 5px 4px;
/* padding-left: 150px;  */
}
a{
    font-weight:bolder;
    text-decoration: none;
}
.box3{
    margin-top: 30px; 
}
.phone{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}  
.smartphone{
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    border:1px solid #DDDCDC;
    transition: transform 0.3s;
    border-radius: 8px;  
}
.smartphone:hover{
transform: scale(1.2);
border-color: blue;
}
.Categories{
    padding-top: 10px;
    display: flex;
justify-content: space-around;
}
.smallimage{
    height:150px;
    width:150px;
    border-radius: 50%;
}
.ele{
    display: flex;
    justify-content: space-around;
    margin: 25px;
    
}
/* .Electronic{

} */
.things{
    margin-top: 30px;
}
.items{
    height:150px;
    width:150px;
    border-radius: 15px;
    border:1px solid #DDDCDC;
    transition: transform 0.3s;
}
.items:hover{
transform: scale(1.2);
border-color: blue;
}
.Daily{
    display: flex;
justify-content: space-around;
padding-top: 40px;
}



